:root {
  --upper-height: 250px;
  --upper-padding: clamp(1rem, 0.441rem + 3.252vw, 2rem);
  --negative-upper-padding: clamp(-1rem, -0.441rem + -3.252vw, -2rem);
  --major-height: clamp(15rem, 3.554rem + 23.845vw, 25rem);
  --major-width: 70vw;
  --major-margin-top: clamp(1rem, -1.289rem + 4.769vw, 3rem);
}

.homeDiv {
  display: grid;
  padding: var(--padding-mobile);
  gap: 1rem;
}
.homeDiv--upper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.homeDiv--upper--risks {
  padding: 1rem var(--upper-padding);
  border-radius: 20px;
  border: 0.6px solid rgba(255, 255, 255, 0.5);
  background-color: var(--accent-color-shade);
  position: relative;
  height: var(--upper-height);
}
.homeDiv--upper--risks hr {
  position: absolute;
  width: 50%;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px -1px 2px 2px rgba(255, 255, 255, 0.25);
}
.homeDiv--upper--risks > h4 {
  border-left: 2px solid white;
  padding-left: 5px;
  font-size: var(--tier-4);
}
.homeDiv--upper--risks--users {
  height: 200px;
  overflow-y: scroll;
}
.homeDiv--upper--risks--users__user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 15px;
}
.homeDiv--upper--risks--users__user img {
  width: 70px;
}
.homeDiv--upper--risks--users__user div h4 {
  font-size: var(--tier-4);
}
.homeDiv--upper--risks--users__user div h6 {
  font-size: var(--tier-6);
  font-weight: 100;
  opacity: var(--text-opacity);
}
.homeDiv--upper--risks--users__user div p {
  font-size: var(--tier-7);
  font-weight: 100;
  opacity: var(--text-opacity);
}
.homeDiv--upper--notifs {
  display: flex;
  flex-direction: column;
  padding: 1rem var(--upper-padding);
  border-radius: 20px;
  border: 0.6px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  height: var(--upper-height);
}
.homeDiv--upper--notifs > h4 {
  border-left: 2px solid var(--accent-color);
  padding-left: 5px;
  font-size: var(--tier-4);
  color: var(--accent-color);
}
.homeDiv--upper--notifs__notif {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.homeDiv--upper--notifs__notif__white {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 15px;
}
.homeDiv--upper--notifs__notif__white img {
  width: 90px;
}
.homeDiv--upper--notifs__notif__white h3 {
  color: var(--secondary-color);
  font-size: var(--tier-3);
}
.homeDiv--upper--notifs__notif__colored {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--secondary-color);
  margin: 0 var(--negative-upper-padding) var(--negative-upper-padding);
  padding: 14px;
  border-radius: 0 0 20px 20px;
}
.homeDiv--upper--notifs__notif__colored h5 {
  font-size: var(--tier-5);
}
.homeDiv--upper--notifs__notif__colored h5:nth-child(2) {
  font-weight: 100;
  opacity: var(--text-opacity);
}
.homeDiv--upper-user--name {
  margin-bottom: 1rem;
}
.homeDiv--upper-user--name__user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.homeDiv--upper-user--name__user img {
  width: 75px;
}
.homeDiv--upper-user--name__user div h2 {
  font-size: var(--tier-3);
}
.homeDiv--upper-user--name__user div h5 {
  font-size: var(--tier-5);
  opacity: var(--text-opacity);
}
.homeDiv--upper-user--name__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.homeDiv--upper-user--name__buttons i {
  color: #fff;
  font-size: clamp(1.8rem, 1.616rem + 1.07vw, 2.3rem);
}
.homeDiv--upper-user--name__buttons button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 2rem;
  border-radius: 15px;
  font-size: var(--tier-6);
  color: var(--accent-color);
  font-weight: bold;
}
.homeDiv--upper-user--name__buttons button img {
  width: 20px;
}
.homeDiv--upper-user--reading {
  display: grid;
  gap: 1rem;
}
.homeDiv--upper-user--reading__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: var(--accent-color-shade);
  border-radius: 20px;
}
.homeDiv--upper-user--reading__content img {
  width: 5rem;
}
.homeDiv--upper-user--reading__content div {
  text-align: center;
}
.homeDiv--upper-user--reading__content div h5 {
  font-size: var(--tier-5);
  font-weight: 100;
  margin-bottom: 10px;
}
.homeDiv--upper-user--reading__content div h3 {
  font-size: var(--tier-3);
}
.homeDiv--upper-user--reading__content div h6 {
  font-size: var(--tier-6);
  opacity: var(--text-opacity);
  font-weight: 100;
}
.homeDiv--major {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #090C3F;
  padding: clamp(0.938rem, -0.285rem + 7.114vw, 3.125rem);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.homeDiv--major > img {
  position: absolute;
  width: clamp(30rem, 20.809rem + 53.476vw, 55rem);
  top: clamp(1rem, 0.632rem + 2.139vw, 2rem);
}
.homeDiv--major--chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: clamp(1rem, 0.759rem + 1.4vw, 3rem);
  z-index: 2;
}
.homeDiv--major--chart h3 {
  font-size: var(--tier-3);
  margin-top: 1rem;
}
.homeDiv--major--chart p {
  color: #00A124;
  font-size: var(--tier-5);
}
.homeDiv--major--chart canvas {
  margin-top: 2rem;
  width: clamp(10rem, 8.529rem + 8.556vw, 14rem);
  height: clamp(10rem, 8.529rem + 8.556vw, 14rem);
}
.homeDiv--major--users-carousel {
  display: flex;
  width: 100%;
  max-width: 30rem;
  overflow-x: scroll;
  gap: 1rem;
  padding-block: 2rem;
}
.homeDiv--major--users-carousel img {
  width: 70px;
}
.homeDiv--major--measurement {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: var(--major-margin-top);
}
.homeDiv--major--measurement > h4 {
  padding: 10px;
  text-align: center;
  font-size: var(--tier-4);
}
.homeDiv--major--measurements {
  width: var(--major-width);
  height: var(--major-height);
  overflow-y: scroll;
  background: var(--primary-color);
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25), inset 2px 2px 4px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 10px;
  z-index: 2;
}
.homeDiv--major--measurements__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 20px;
}
.homeDiv--major--measurements__content__info {
  text-align: center;
}
.homeDiv--major--measurements__content__info img {
  width: 70px;
}
.homeDiv--major--measurements__content__info h4 {
  font-size: var(--tier-4);
}
.homeDiv--major--measurements__content__info h6 {
  font-size: var(--tier-6);
  opacity: var(--text-opacity);
  font-weight: 100;
}
.homeDiv--major--measurements__content__reading {
  text-align: center;
}
.homeDiv--major--measurements__content__reading h4 {
  font-size: var(--tier-4);
}
.homeDiv--major--measurements__content__reading h6 {
  font-size: var(--tier-6);
}
.homeDiv--major--measurements__content__reading h6:nth-child(2) {
  opacity: var(--text-opacity);
  font-weight: 100;
}
.homeDiv--major--measurements__user {
  padding: 10px;
}
.homeDiv--major--measurements__user__date {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #fff;
  padding-bottom: 5px;
}
.homeDiv--major--measurements__user__date p {
  font-size: var(--tier-7);
  opacity: var(--text-opacity);
}
.homeDiv--major--measurements__user__readings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-block: 10px;
}
.homeDiv--major--measurements__user__readings div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.homeDiv--major--measurements__user__readings div img {
  width: auto;
  height: clamp(1.8rem, 1.616rem + 1.07vw, 2.3rem);
}
.homeDiv--major--measurement__outlineDiv {
  width: calc(var(--major-width) + 10vw);
  height: calc(var(--major-height) - 5vw);
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: calc(var(--major-margin-top) - 2 * var(--major-margin-top));
}
.homeDiv--infograph {
  display: grid;
  gap: 1rem;
  padding: 1rem clamp(1rem, -0.118rem + 6.504vw, 3rem);
  background: #F8F8F8;
  box-shadow: 6px 8px 9px rgba(143, 143, 143, 0.25), inset 5px 5px 4px rgba(0, 0, 0, 0.49);
  border-radius: 2px;
  position: relative;
}
.homeDiv--infograph hr {
  position: absolute;
  width: 100%;
  top: -10px;
  left: 0;
}
.homeDiv--infograph h3 {
  color: var(--primary-color);
  font-size: var(--tier-3);
  text-align: center;
  padding-block-start: 1rem;
}
.homeDiv--infograph--infoDiv {
  text-align: center;
  background: rgba(0, 14, 255, 0.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07), inset 2px 1px 4px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  padding: 15px;
}
.homeDiv--infograph--infoDiv img {
  width: 50vw;
}
.homeDiv--infograph--infoDiv h5 {
  font-size: var(--tier-5);
  color: var(--primary-color);
}
.homeDiv--infograph--infoDiv p {
  font-size: var(--tier-7);
  color: var(--primary-color);
  font-weight: 100;
  width: 60%;
  margin: auto;
}
.homeDiv--infograph > img {
  display: none;
  width: 100%;
}

@media only screen and (min-width: 425px) {
  .homeDiv--upper-user--reading {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .homeDiv--upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .homeDiv--upper-user--name {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .homeDiv--upper-user--reading {
    grid-template-columns: repeat(3, 1fr);
  }
  .homeDiv--upper-user--reading__content {
    padding: clamp(1rem, -2.251rem + 5.079vw, 2rem) 1rem;
  }
  .homeDiv--major--measurements__user__readings {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .homeDiv--infograph {
    grid-template-columns: repeat(2, 1fr);
  }
  .homeDiv--infograph h3 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .homeDiv--infograph--infoDiv {
    z-index: 10;
  }
  .homeDiv--infograph--infoDiv img {
    width: 30vw;
  }
  .homeDiv--infograph--infoDiv:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .homeDiv--infograph--infoDiv:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .homeDiv--infograph--infoDiv:nth-child(5) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .homeDiv--infograph--infoDiv:nth-child(6) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .homeDiv--infograph > img {
    display: block;
    position: absolute;
    width: 55vw;
    bottom: 1rem;
    right: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  :root {
    --major-height: 12rem;
    --major-width: clamp(45rem, 20.325rem + 38.554vw, 55rem);
    --major-margin-top: clamp(1rem, -1.467rem + 3.855vw, 2rem);
  }
  .homeDiv {
    padding-inline: var(--padding-desktop);
    gap: 2rem;
  }
  .homeDiv--upper {
    gap: 2rem;
  }
  .homeDiv--upper-user--reading {
    gap: 2rem;
  }
  .homeDiv--upper-user--reading__content img {
    width: clamp(5rem, -1.502rem + 10.159vw, 7rem);
  }
  .homeDiv--major > img {
    top: clamp(2rem, 0rem + 3.125vw, 5rem);
  }
  .homeDiv--major--measurements {
    padding-inline: 15px;
  }
  .homeDiv--major--measurements__content {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1803921569);
    padding-bottom: 10px;
  }
  .homeDiv--major--measurements__content__info {
    display: flex;
    text-align: justify;
    align-items: center;
    gap: 10px;
  }
  .homeDiv--major--measurements__content__info img {
    width: 50px;
  }
  .homeDiv--major--measurements__content__reading {
    text-align: right;
  }
  .homeDiv--major--measurements__user__readings div img {
    height: clamp(1.5rem, 1.167rem + 0.521vw, 2rem);
  }
  .homeDiv--major--measurement__outlineDiv {
    width: calc(var(--major-width) + 5vw);
    height: calc(var(--major-height) - 2vw);
  }
  .homeDiv--major--chart canvas {
    width: clamp(15rem, 11rem + 6.25vw, 21rem);
    height: clamp(15rem, 11rem + 6.25vw, 21rem);
  }
  .homeDiv--infograph {
    grid-template-columns: repeat(3, 1fr);
  }
  .homeDiv--infograph h3 {
    grid-column: 1/3;
  }
  .homeDiv--infograph--infoDiv {
    z-index: 10;
  }
  .homeDiv--infograph--infoDiv img {
    width: 15vw;
  }
  .homeDiv--infograph--infoDiv:nth-child(6) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .homeDiv--infograph > img {
    width: clamp(25rem, 11.667rem + 20.833vw, 45rem);
  }
}
@media only screen and (min-width: 1440px) {
  :root {
    --upper-height: 280px;
    --upper-padding: clamp(1rem, -0.286rem + 1.429vw, 2rem);
    --major-width: 30vw;
    --major-height: 12rem;
    --major-margin-top: clamp(1rem, -0.286rem + 1.429vw, 2rem);
  }
  .homeDiv {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 3fr;
    gap: 2rem;
  }
  .homeDiv--upper--risks--users {
    height: 230px;
  }
  .homeDiv--upper-user--reading__content img {
    width: 5rem;
  }
  .homeDiv--major {
    grid-row: 1/3;
    grid-column: 2/3;
  }
  .homeDiv--infograph {
    grid-template-columns: repeat(2, 1fr);
  }
  .homeDiv--infograph--infoDiv img {
    width: 7vw;
  }
  .homeDiv--infograph > img {
    display: none;
  }
}
@media only screen and (min-width: 1920px) {
  :root {
    --upper-height: 250px;
  }
  .homeDiv--upper--risks--users {
    height: 200px;
  }
  .homeDiv--infograph {
    grid-template-columns: 1fr 1fr 0.5fr;
  }
  .homeDiv--infograph hr {
    margin-top: -20px;
  }
  .homeDiv--infograph > img {
    display: block;
    width: clamp(15rem, 0rem + 12.5vw, 20rem);
  }
}/*# sourceMappingURL=home.css.map */