:root {
  --margin-top: -30%;
}

.error {
  color: red;
  font-size: 12px;
  min-height: 16px;
  margin-top: 5px;
}

.login-container {
  background: linear-gradient(180deg, #030637 0%, #3C0753 100%); /* Gradient overlay */
  height: 100vh;
  padding: 4rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-container .login-background {
  background-image: url(../../assets/Login/login-background.png); /* Background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.login-container .login-header {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.login-container .login-header-accent {
  position: absolute;
  width: 100%;
  max-width: 70vw;
  top: -5rem;
  left: -5rem;
}
.login-container .login-header .ams__logo {
  width: clamp(10rem, 9.286rem + 3.571vw, 15rem);
}
.login-container .login-header .ams__title {
  font-size: clamp(1.75rem, 1.196rem + 2.768vw, 5.625rem);
}
.login-container .login-form {
  display: grid;
  align-items: center;
  z-index: 10;
}
.login-container .login-form form {
  text-align: center;
}
.login-container .login-form form h4 {
  font-size: clamp(1.313rem, 1.045rem + 1.339vw, 3.188rem);
  font-weight: normal;
  margin-bottom: 1rem;
}
.login-container .login-form form div {
  width: 75vw;
  max-width: 23rem;
  margin: auto;
}
.login-container .login-form form > input {
  width: 60vw;
  max-width: 14rem;
  margin: auto;
}
.login-container .login-form form > input:disabled {
  background-color: #a544d0;
  color: #b7b7b7;
}
.login-container .login-form form #login-error {
  height: 15px;
  color: #a00000;
  font-size: var(--tier-6);
}
.login-container .login-form-decor {
  display: none;
}
.login-container .login-accent-background {
  background-image: url(../../assets/Login/background-accent.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 19rem;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

@media only screen and (min-width: 1024px) {
  :root {
    --margin-top: -15%;
  }
  .login-container {
    padding: 3rem 1rem;
  }
  .login-container .login-background {
    background-position: top left;
    background-size: calc(30rem + 100vw);
    top: var(--margin-top);
    height: calc(100% - var(--margin-top));
  }
  .login-container .login-header {
    width: 50vw;
    margin-left: 5vw;
  }
  .login-container .login-form {
    padding-inline: 1.5rem;
    grid-template-columns: 2fr 3fr;
  }
  .login-container .login-form-decor {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 3rem;
    margin-left: -3rem;
  }
  .login-container .login-form-decor img {
    width: auto;
    height: 13rem;
  }
  .login-container .login-form-decor img:nth-child(1) {
    height: 19rem;
  }
  .login-container .login-accent-background {
    height: 22rem;
  }
}
@media only screen and (min-width: 1560px) {
  :root {
    --margin-top: -40%;
  }
  .login-container .login-background {
    background-position: -100% top;
    background-size: 120%;
  }
  .login-container .login-header-accent {
    max-width: 30rem;
  }
  .login-container .login-form {
    grid-template-columns: 2fr 4fr;
  }
  .login-container .login-form form div {
    max-width: 30rem;
    margin-bottom: 1.5rem;
  }
  .login-container .login-form-decor img {
    height: clamp(13rem, -8.84rem + 22.4vw, 27rem);
  }
  .login-container .login-form-decor img:nth-child(1) {
    height: clamp(19rem, -2.84rem + 22.4vw, 33rem);
  }
  .login-container .login-accent-background {
    background-size: contain;
    height: 100vh;
    width: 100%;
    background-position: bottom;
  }
}/*# sourceMappingURL=login.css.map */