<div id="header" class="header">
    <img src="../../assets/Logo/ams-logo.png" alt="">
    <div class="header-menu">
        <i id="headerMenu" class="fa-solid fa-ellipsis"></i>
        <div class="header-menu-nav">
            <div class="header-menu-nav-title">
                <div class="header-menu-nav-title-name">
                    <h1> Erica D. Gaffud</h1>
                    <i class="fa-solid fa-circle-user"></i>
                </div>
                <hr>
                <div class="header-menu-nav-title-date">
                    September 20, 2024 | 06:21:21
                </div>
            </div>
            <nav>
                <div class="nav-items">
                    <a href="">Home</a>
                    <a href="">Contact</a>
                </div>
                <img src="../../assets/Logo/ams-logo.png" alt="">
            </nav>
        </div>
    </div>
</div>