:root {
    --switch-width: 10.5rem;
    --switch-height: 2.3rem;
    --switch-button-width: calc(10rem / 2);
    --switch-button-height: 2rem;
}

.active {
    background-color: #fff !important;
    color: var(--accent-color-tint) !important;
}

.contactDiv {
    padding-inline: var(--padding-mobile);
    padding-bottom: 1rem;
}

.contact--header {
    text-align: center;
    padding-block: 2rem 3rem;
    position: relative;

    h1 {
        font-size: var(--tier-1);
    }

    h5 {
        font-size: var(--tier-5);
        font-weight: unset;
        opacity: var(--text-opacity);
    }

    &__switch {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.1rem;
        
        margin: 1rem auto;
        width: var(--switch-width);
        height: var(--switch-height);
        background: #767DFF;
        border: 1px solid #FFFFFF;
        border-radius: 20px;

        position: absolute;
        top: 6.5rem;
        left: 50%;
        transform: translateX(-50%);

        button {
            width: var(--switch-button-width);
            height: var(--switch-button-height);
            border-radius: 20px;
            border: none;
            background-color: transparent;
            color: #fff;
        }
    }

}

.contact--ams {
    &--contacts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: 1rem;

        div {
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;
            color: #fff;

            padding: 10px;
            border-radius: 20px;

            &:hover {
                background-color: #D9D9D9;
                color: var(--primary-color);

                h5 {
                    color: #000;
                }
            }

            i {
                font-size: clamp(1.8rem, 1.616rem + 1.07vw, 2.3rem);
            }
        }
    }

    form {
        background-color: #F0F0F0;
        border-radius: 20px;
        padding: 2rem 1rem 1rem;
        position: relative;

        div {
            display: flex;
            flex-direction: column;

            label {
                color: var(--accent-color-tint);
                font-size: var(--tier-5);
            }

            input {
                display: block;
                background: #F5F5F5;
                border: none;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                height: 2rem;
                margin-bottom: 1rem;
            }

            textarea {
                display: block;
                background: #F5F5F5;
                border: none;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                height: 5rem;
                margin-bottom: 1rem;
            }
        }

        .submit {
            input {
                color: #fff;
                background: #3C0753;
                border-left: 3px solid #BA68C8;
                box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.25);
                border-radius: 5px;
                font-size: var(--tier-5);
            }
        }

        > img {
            position: absolute;
            width: clamp(5rem, 4.083rem + 5.333vw, 6rem);
            right: 0;
            bottom: 0;
        }
    }
}

.contact--personal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-block: 2rem;
    gap: clamp(0rem, -0.559rem + 3.252vw, 1rem);

    div {
        display: flex;
        flex-direction: column;
        gap: clamp(2rem, 0.882rem + 6.504vw, 4rem);

        margin-block: clamp(1rem, -0.118rem + 6.504vw, 3rem);

        h4 {
            font-size: var(--tier-4);
            font-weight: 100;
        }
    }

    .mobile {
        width: clamp(3rem, 1.882rem + 6.504vw, 5rem);
        height: 100%;
    }

    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .contact--header {
        padding-block: 3rem 4rem;

        &__switch {
            top: 7.5rem;
        }
    }

    .contact--ams {
        &--contacts {
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
            padding-block: 2rem;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            div {
                textarea {
                    height: 10.5rem;
                }
            }

            .submit {
                grid-area: 2/1/3/3;
                align-items: center;

                input {
                    padding-inline: 3rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .contact--ams {
        form {
            padding: 2rem 2rem 1rem;
        }

        &--contacts {
            gap: clamp(3rem, -6.035rem + 18.824vw, 6rem);
        }
    }

    .contact--personal {
        flex-direction: row;
        gap: 0;

        div {
            text-align: end;
            gap: clamp(1.5rem, 0rem + 3.125vw, 5rem);
            margin-block: clamp(3rem, 1.286rem + 3.571vw, 7rem);
        }

        .mobile {
            display: none;
        }

        .desktop {
            display: block;

            width: clamp(20rem, 11.429rem + 17.857vw, 40rem);
            height: 100%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .contactDiv {
        padding-inline: var(--padding-desktop);
        width: clamp(60rem, 40rem + 31.25vw, 90rem);
        margin: auto;
    }

    .contact--header {
        padding-block: clamp(4rem, 2.667rem + 2.083vw, 6rem) 1rem;

        &__switch {
            top: clamp(7.5rem, 6.167rem + 2.083vw, 9.5rem);
        }
    }

    .contact--ams {
        form {
            gap: clamp(2rem, 0.667rem + 2.083vw, 4rem);
            padding: clamp(2rem, 0.667rem + 2.083vw, 4rem) clamp(2rem, 0.667rem + 2.083vw, 4rem) 1rem;

            div {

                input {
                    height: clamp(2rem, 1.667rem + 0.521vw, 2.5rem);
                }

                textarea {
                    height: clamp(10.5rem, 9.5rem + 1.563vw, 12rem);
                }
            }

            .submit {
                input {
                    height: clamp(2rem, 1.667rem + 0.521vw, 2.5rem);
                    padding-inline: clamp(4rem, 2.667rem + 2.083vw, 6rem);
                }
            }

            img {
                right: -15px;
                width: clamp(8rem, 6.667rem + 2.083vw, 10rem);
            }
        }

        &--contacts {
            gap: clamp(7rem, 5rem + 3.125vw, 10rem);
            padding-block: 4rem 2rem;
        }
    }
}